@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&display=swap');


body {
	color: white;
	background: url('https://kartinkin.net/uploads/posts/2021-01/1611024711_2-p-chernii-kosmicheskii-fon-3.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 30px; /*сдвиг блока*/
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	word-spacing: 5px; /*расстояние между словами*/
	letter-spacing: 5px; /*расстояние между символами*/
	line-height: 60px;
}

.soc {

	color: white;
	text-decoration: none;
	cursor: pointer;
	position: static;
}

.soc:hover{
	color: black;
	background-color: white;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
}

.avatar {
	background-size: 400px 300px; 
	height: 300px;
	width: 400px;	
	padding-right: 100px;
	float: left;

}

